Aop/ProxyConfiguration/ProxyConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://tempuri.org/proxyconfiguration.xsd"
	xmlns:p="http://tempuri.org/proxyconfiguration.xsd">
	
  
  <xs:element name="proxyConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="p:types"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	<xs:element name="types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="p:type" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  <xs:element name="type">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="p:interceptors"/>
      </xs:sequence>
      <xs:attribute name="name" use="required">
      </xs:attribute>
      <xs:attribute name="active" type="xs:boolean" use="required"/>
      <xs:attribute name="proxyType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Class"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="methods">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="p:method" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="method">
    <xs:complexType>
      <xs:attribute name="name" use="required"></xs:attribute>
      <xs:attribute name="active" type="xs:boolean" use="required"/>
      <xs:attribute name="property" use="optional"/>
      <xs:attribute name="stage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="before"/>
            <xs:enumeration value="after"/>
            <xs:enumeration value="both"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="filename" use ="optional"/>
      <xs:attribute name="proxymethod" use="optional"/>
      <xs:attribute name="rawcontent" type="xs:boolean" use="optional"/>
      <xs:attribute name="proxyparameter" use="optional"/>
    </xs:complexType>
  </xs:element>

	<xs:element name="interceptors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="p:interceptor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  <xs:element name="interceptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="p:methods" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="MethodDetailsInterceptor"/>
            <xs:enumeration value="MethodTimingInterceptor"/>
            <xs:enumeration value="MethodCallInterceptor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="active" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  
	
</xs:schema>
